/* FlatFlowy Mobile a first attempt */

.page.searching .project .name {
    display: none !important;
}

/* Delete for Show Notes version */
.page.searching .project .notes {
    display: none !important;
}

.page.searching .project.matches .name.matches {
    display: block !important;
}

.page.searching .selected > .children > .project .project {
    margin: 0 0 4px !important;
}

.page.searching .children {
    margin: 0 !important;
    padding: 0 !important;
    border: 0 !important;
}

.page.searching .childrenEnd {
    height: 0 !important;
}

.newMobileDesign .page.searching .selected .project > .name .bullet {
    position: absolute !important;
}

.newMobileDesign .page.searching .selected .project .name > .content {
    margin-left: 22px !important;
}

.newMobileDesign .page.searching .selected .project > .name > .parentArrow {
   background-image: none !important; 
   height: 0 !important;
}

.newMobileDesign #pageContainer {
    margin-top: -15px !important;
}

