/* FlatFlowy */
.page.searching .project .name {
  display: none;
}
.page.searching .project.matches .name.matches,
.page.searching .project.matches.noted .name,
.page.searching .project.metaMatches .name {
  display: block;
}
.page.searching .selected > .children > .project .project {
  margin: 0 0 4px;
}
.page.searching .children {
  margin: 0;
  padding: 0;
  border: 0;
}
.newMobileDesign .page.searching .selected .children .children {
  margin-left: -2px;
}
.newMobileDesign .page.searching .selected .project > .name > .parentArrow {
  display: none;
}
.newMobileDesign .page.searching .children .content {
  padding-right: 0;
}